$color-white: #ffffff;
$color-black: #1b1b1b;
$color-background: #0b0b0b;
$color-background-2: #161616;
$color-gray-dark: #1e1e1e;
$color-gray-light-dark: #2f2e2c;
$color-yellow: #ffe600;
$color-yellow-secondary: #c98c17;
$color-gray: #4f4e4c;
$color-gray-secondary: #858585;
$color-red: #d71919;
$color-green: #8dc547;
$color-blue: #2a5c99;
$color-blue-light: #8ab9f1;
$color-blue-bright: #368cf3;
$color-purple: #8f4ae7;

.text-white {
    color: $color-white;
}
.text-gray {
    color: $color-gray;
}
.text-gray-secondary {
    color: $color-gray-secondary;
}
.text-yellow {
    color: $color-yellow;
}
.text-red {
    color: $color-red;
}
.text-green {
    color: $color-green;
}
.text-yellow-secondary {
    color: $color-yellow-secondary;
}
.text-blue-bright {
    color: $color-blue-bright;
}

.backgroud-disable{
    background-color: $color-black !important;
}

body {
    background-color: $color-background;
    font-family: "Karla";
    .font-size-12 {
        font-size: 12px !important;
        margin: 8px 0 0 0 !important;
    }
    .loginLogo {
        width: max-content;
        margin: 100px auto 0;
    }
    .loginForm {
        .inputs {
            width: max-content;
            margin: 100px auto 0;
            .error_message {
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 10px;
                color: $color-red;
                width: max-content;
                margin: 1px 0 4px 0;
                display: none;
                &.show {
                    display: block;
                }
            }
            .inputField {
                background-color: $color-background-2;
                width: 356px;
                height: 50px;
                border-radius: 8px;
                border: 0px;
                color: $color-white;
                margin: 10px 0;
                &:focus {
                    border: 1px solid $color-black;
                }
                &.error {
                    border: 1px solid $color-red;
                }
            }
            .inputButton {
                margin: 16px 0 0 0;
                background-color: $color-yellow;
                color: $color-gray-dark;
                width: 100%;
                height: 50px;
                border-radius: 8px;
                border: 0px;
                &:hover {
                    background-color: $color-yellow-secondary;
                    color: $color-background-2;
                }
            }
            .error_message {
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 10px;
                color: $color-red;
                width: max-content;
                margin: 1px 0 4px 0;
                display: none;
                &.show {
                    display: block;
                }
            }
        }
    }
    .eymessage {
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 10px;
        color: $color-red;
        width: max-content;
        margin: 1px 0 4px 0;
        display: none;
        &.show {
            display: block;
        }
    }
    .inputButton {
        margin: 16px 0 0 0;
        background-color: $color-yellow;
        color: $color-gray-dark;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: 0px;
        &:hover {
            background-color: $color-yellow-secondary;
            color: $color-background-2;
        }
        &.inoutButton {
            width: 356px;
        }
        
        &.eyButton {
            padding: 12px;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: $color-gray-light-dark;
            width: 200px;
            margin-right: 8px;
            &.large {
                width: max-content;
            }
            &.goback {
                background-color: $color-gray-light-dark;
                color: $color-gray-secondary;
                &:hover {
                    background-color: $color-background-2;
                }
            }
        }
        &.goalButton {
            width: 356px;
        }
    }
    .inputButtonForm {
        width: 200px;
        margin: 22px 50px;
        background-color: $color-gray-secondary;
        color: $color-gray-dark;
        height: 50px;
        border-radius: 8px;
        border: 0px;
        &:hover {
            background-color: $color-gray-light-dark;
            color: $color-background-2;
        }
        &.cadastrarUsuario {
            background-color: $color-yellow;
            color: $color-gray-dark;
            &:hover {
                background-color: $color-yellow-secondary;
                color: $color-background-2;
            }
        }
    }
    .navbar {
        height: 105px;
        background-color: $color-gray-dark;
        border-bottom: 1px solid $color-gray;
        padding: 20px 24px;
        .container-fluid {
            .navbar-brand {
                img {
                    width: 100px;
                }
            }
        }
        .header-links {
            margin: 0px 15px;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            text-decoration: none;
            &:hover {
                color: $color-yellow-secondary;
            }
        }
    }
    .user-data {
        width: 100%;
        height: 164px;
        background-color: $color-background-2;
        display: flex;
        border-bottom: 1px solid $color-gray;
        .user-info {
            width: max-content;
            height: 120px;
            margin: 20px 24px;
            background-color: $color-black;
            border-radius: 16px;

            padding: 24px;
            .user-greeting {
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 37px;
                text-align: left;
            }
            .user-notification {
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.02em;
                text-align: left;
                .user-notification-link {
                    text-decoration: none;
                }
            }
        }
        .accounts-total {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            display: flex;
            align-items: center;
            text-align: right;
            margin: 0 62px 0 auto;
        }
    }
    .dashboard {
        .container {
            .stepper {
                max-width: 446px;
                height: 52px;
                margin: 0 auto 40px;
                position: relative;
                top: 40px;
                &.stepper-cadastro {
                    margin: 0px 372px 40px;
                }
            }
            .progressbar-2 {
                width: 0px;
                height: 2px;
                position: absolute;
                top: 24px;
                right: 50px;
                background-color: $color-gray-light-dark;
                &.half {
                    width: 180px;
                    background-color: $color-yellow;
                }
            }
            .progressbar-1 {
                width: 0px;
                height: 2px;
                position: absolute;
                top: 24px;
                left: 50px;
                background-color: $color-gray-light-dark;
                &.half {
                    width: 180px;
                    background-color: $color-yellow;
                }
            }
            .steps {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;

                .step-number {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $color-gray-light-dark;
                    > span {
                        font-style: normal;
                        font-weight: 600;
                        text-align: center;
                        letter-spacing: 0.015em;
                        width: 72px;
                    }
                    .step {
                        z-index: 1;
                    }
                    &.active {
                        background-color: $color-yellow;
                    }
                }
            }
            & > .row {
                #chart2 {
                    .chart-header {
                        margin-bottom: 24px;
                        .chart-title {
                            font-weight: 400;
                            font-size: 36px;
                            line-height: 42px;
                        }
                        .chart-button {
                            max-width: 194px;
                            max-height: 62.36px;
                            border-radius: 18px;
                            padding: 15px 42px;
                            background-color: $color-gray;
                            text-decoration: none;
                            float: right;
                            &:hover {
                                background-color: $color-background-2;
                                color: $color-yellow-secondary;
                            }
                        }
                    }
                }
                .cards {
                    margin: 36px auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;
                    &.goalsCards {
                        grid-template-columns: 1fr;
                        margin: 0px 140px;
                    }
                    &.journeyCards {
                        width: 1255px;
                        height: max-content;
                        grid-template-columns: 1fr;
                    }
                    &.cadastro {
                        margin: 36px auto;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 20px;
                    }
                    &.cadastro-ey{
                       display: block; 
                       width: 500px;
                    }
                    &.login {
                        grid-template-columns: 1fr;
                    }
                    &.profile {
                        grid-template-columns: 1fr;
                    }
                    &.hide {
                        display: none;
                    }
                    .contentCard {
                        width: 686px;
                        height: 630px;
                        background-color: $color-gray-dark;
                        border-radius: 24px;
                        &.contentCard-fullsize {
                            width: 1372px;
                            height: max-content;
                            &.goalsCards {
                                width: max-content;
                            }
                        }
                        &.goalsCard {
                            width: 1077px;
                            height: max-content;
                        }
                        &.journeyCard {
                            width: 100%;
                            height: max-content;
                            &.hide {
                                display: none;
                            }
                        }
                        &.contentCard-three {
                            width: 328px;
                            height: 1000px;
                        }
                        &.investorProfile,
                        &.cadastroCard {
                            width: 599.24px;
                            height: 716px;
                            margin: 0 auto;
                            position: relative;
                            display: inline-block;
                        }
                        .contentCard-header {
                            height: 111px;
                            border-bottom: 1px solid $color-gray;
                            padding: 24px;
                            .cardHeader-title {
                                font-weight: 400;
                                font-size: 36px;
                                line-height: 42px;
                            }
                            .cardHeader-button {
                                max-width: 194px;
                                max-height: 62.36px;
                                border-radius: 18px;
                                padding: 15px 42px;
                                background-color: $color-black;
                                text-decoration: none;
                                float: right;
                                &:hover {
                                    background-color: $color-background-2;
                                    color: $color-yellow-secondary;
                                }
                            }
                        }
                        .contentCard-body {
                            padding: 32px 52px;
                            height: max-content;
                            &.cadastro-body {
                                padding: 5px 16px;
                                height: 425px;
                                .addBanks {
                                    .banksTitles {
                                        margin: 0px 77px;
                                        width: 100%;
                                        font-style: normal;
                                        text-align: center;
                                        font-weight: 700;
                                        font-size: 12px;
                                        line-height: 15px;
                                    }
                                    .banks {
                                        color: $color-gray-secondary;
                                        font-weight: 700;
                                        font-size: 12px;
                                        width: 212px;
                                        line-height: 15px;
                                        margin: 10px 40px;
                                    }
                                }
                            }
                            #investorTips {
                                height: 100%;
                                .swiper {
                                    width: 100%;
                                    height: 100%;

                                    .swiper-wrapper .swiper-slide {
                                        p {
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 24px;
                                            line-height: 30px;
                                            text-align: justify;
                                        }
                                    }
                                }
                            }
                            .goals {
                                .progressSection {
                                    border-bottom: 1px solid $color-gray;
                                    &:last-child {
                                        border-bottom: 0px;
                                    }
                                    .progress-info {
                                        margin: 14px 0;
                                        font-style: normal;
                                        font-weight: 300;
                                        font-size: 24px;
                                        line-height: 28px;
                                        .goalData {
                                            display: inline-block;
                                            .goalDate {
                                                font-size: 14px;
                                                line-height: 16px;
                                            }
                                            .data {
                                                margin: 0 6px;
                                            }
                                        }
                                        .goalValues {
                                            display: inline-block;
                                            float: right;
                                            .goalCurrentValue {
                                                font-weight: 400;
                                                font-size: 18px;
                                                line-height: 21px;
                                            }
                                        }
                                    }
                                    .progress {
                                        border-radius: 0px;
                                        background-color: $color-background-2;
                                        margin-bottom: 24px;

                                        .progress-bar {
                                            background-color: $color-blue;
                                        }
                                    }
                                    .goalCompletion {
                                    }
                                }
                            }
                            .inOutForm,
                            .cadastro {
                                width: 50%;
                                display: inline-block;
                                &.cadastro {
                                    width: 325px;
                                }
                                &.goalsForm {
                                    width: 100%;
                                    display: inline-flex;
                                    .half-form {
                                        width: 50%;
                                        &.first {
                                            margin: 0 10px 0 0;
                                            border-right: 1px solid $color-gray;
                                            p {
                                                margin-right: 10px;
                                                width: 530px;
                                            }
                                        }
                                        .message {
                                            font-weight: 400;
                                            font-size: 23px;
                                            line-height: 27px;
                                            text-align: center;
                                            &.contentMessage {
                                                font-size: 18px;
                                                text-align: left;
                                            }
                                            &.dateMessage {
                                                font-size: 16px;
                                                text-align: left;
                                            }
                                        }
                                        .htmlExample {
                                            width: max-content;
                                            margin: 20% auto;
                                        }
                                        .audioImage {
                                            width: max-content;
                                            margin: 100px auto;
                                            img {
                                                width: 125px;
                                                margin: 0 auto;
                                                display: block;
                                                &:hover {
                                                    cursor: pointer;
                                                }
                                            }
                                        }
                                        .profileImage {
                                            position: relative;
                                            @keyframes growProgressBar {
                                                0%,
                                                33% {
                                                    --pgPercentage: 0;
                                                }
                                                100% {
                                                    --pgPercentage: var(--value);
                                                }
                                            }
                                            &.progressArea {
                                                margin-top: 200px;
                                            }
                                            .conclusion {
                                                display: block;
                                                margin: 24px auto;
                                                width: max-content;
                                            }
                                            .progressBar {
                                                margin: 0 auto;
                                            }

                                            @property --pgPercentage {
                                                syntax: "<number>";
                                                inherits: false;
                                                initial-value: 0;
                                            }

                                            div[role="progressbar"] {
                                                --size: 12rem;
                                                --fg: #ffe600;
                                                --bg: #131313;
                                                --pgPercentage: var(--value);
                                                animation: growProgressBar 3s 1 forwards;
                                                width: var(--size);
                                                height: var(--size);
                                                border-radius: 50%;
                                                display: grid;
                                                place-items: center;
                                                background: radial-gradient(
                                                        closest-side,
                                                        #1e1e1e 80%,
                                                        transparent 0 99.9%,
                                                        #1e1e1e 0
                                                    ),
                                                    conic-gradient(
                                                        var(--fg) calc(var(--pgPercentage) * 1%),
                                                        var(--bg) 0
                                                    );
                                                font-family: Helvetica, Arial, sans-serif;
                                                font-size: calc(var(--size) / 5);
                                                color: var(--fg);
                                            }

                                            div[role="progressbar"]::before {
                                                counter-reset: percentage var(--value);
                                                content: counter(percentage) "%";
                                            }

                                            /* demo */
                                            body {
                                                margin: 0;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                height: 100vh;
                                            }
                                            .img {
                                                width: 300px;
                                                height: 300px;
                                                background-color: $color-gray;
                                                border-radius: 100%;
                                                margin: 0 auto;
                                            }
                                            img {
                                                margin: auto;
                                                position: absolute;
                                                display: block;
                                                left: 4%;
                                            }
                                            .label {
                                                margin: 0 auto;
                                                width: max-content;
                                                font-style: normal;
                                                font-weight: 400;
                                                font-size: 32px;
                                                line-height: 37px;
                                            }
                                        }
                                        .user {
                                            height: max-content;
                                            display: inline-block;
                                            width: 100%;
                                            .head {
                                                font-style: normal;
                                                font-weight: 400;
                                                font-size: 29px;
                                                line-height: 28px;
                                                border-bottom: 1px solid $color-gray-secondary;
                                                margin: 10px 0 10px 0;
                                                padding-bottom: 8px;
                                            }
                                            .colum {
                                                width: 50%;
                                                float: left;
                                                .label {
                                                    font-family: "Karla";
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    font-size: 24px;
                                                    line-height: 28px;
                                                    color: $color-white;
                                                    display: flex;
                                                    margin: 0 24px 0 0;
                                                }
                                                .value {
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    font-size: 16px;
                                                    line-height: 19px;
                                                    color: $color-gray-secondary;
                                                }
                                            }
                                            .addBanks {
                                                .head {
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    font-size: 28px;
                                                    line-height: 28px;
                                                    border-bottom: 1px solid $color-gray-secondary;
                                                    margin: 10px 0 10px 0;
                                                    padding-bottom: 8px;
                                                }
                                                .banksTitles {
                                                    width: 100%;
                                                    font-style: normal;
                                                    text-align: center;
                                                    font-weight: 700;
                                                    font-size: 12px;
                                                    line-height: 15px;
                                                }
                                                .banks {
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    font-size: 12px;
                                                    line-height: 15px;
                                                    color: $color-gray-secondary;
                                                }
                                            }
                                        }
                                    }
                                }
                                .questions {
                                    max-width: max-content;
                                    .questionTitle {
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 19px;
                                        width: max-content;
                                    }
                                    .radio {
                                        display: block;
                                        cursor: pointer;
                                        user-select: none;
                                        text-align: left;
                                        .answerText {
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 19px;
                                            width: 400px;
                                            color: $color-gray-secondary;
                                        }
                                        & + .radio {
                                            margin-top: 8px;
                                        }
                                        &:last-child {
                                            margin-bottom: 8px;
                                        }
                                        input {
                                            display: none;
                                            & + span {
                                                display: inline-block;
                                                position: relative;
                                                padding-left: 30px;
                                                &:before {
                                                    content: "";
                                                    display: block;
                                                    position: absolute;
                                                    top: 0px;
                                                    left: 0px;
                                                    border-radius: 50%;
                                                    margin-right: 5px;
                                                    width: 16px;
                                                    height: 16px;
                                                    border: 1px solid $color-gray-secondary;
                                                    background: $color-gray-dark;
                                                }
                                                &:after {
                                                    content: "";
                                                    display: block;
                                                    width: 10px;
                                                    height: 10px;
                                                    background: $color-yellow;
                                                    position: absolute;
                                                    border-radius: 50%;
                                                    top: 3px;
                                                    left: 3px;
                                                    opacity: 0;
                                                    transform: scale(0, 0);
                                                    transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
                                                }
                                            }
                                            &:checked + span:after {
                                                opacity: 1;
                                                transform: scale(1, 1);
                                            }
                                        }
                                    }
                                }
                                .inputLabel {
                                    display: block;
                                    margin: 8px 0;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 12px;
                                    line-height: 15px;
                                    &.sliderLabel {
                                        margin: 8px 0 0 0;
                                    }
                                }
                                .error_message {
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 10px;
                                    line-height: 10px;
                                    color: $color-red;
                                    width: max-content;
                                    margin: 1px 0 4px 0;
                                    display: none;
                                    &.show {
                                        display: block;
                                    }
                                }
                                .inputField {
                                    background-color: $color-background-2;
                                    width: 356px;
                                    height: 50px;
                                    border-radius: 8px;
                                    border: 0px;
                                    color: $color-white;
                                    &:focus {
                                        border: 1px solid $color-black;
                                    }
                                    &-cadastro {
                                        width: 300px;
                                        &.error {
                                            border: 1px solid $color-red;
                                        }
                                    }
                                }
                                #valuePrice,
                                #initialValuePrice {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 24px;
                                    line-height: 28px;
                                    position: relative;
                                    top: -20px;
                                    left: 20px;
                                }
                            }
                            .chart-section {
                                width: 50%;
                                float: right;
                            }
                            .extracts {
                                .extract-info {
                                    border-bottom: 1px solid $color-gray;
                                    &:last-child {
                                        border-bottom: 0px;
                                    }
                                    margin: 14px 0;
                                    font-style: normal;
                                    font-weight: 300;
                                    font-size: 24px;
                                    line-height: 28px;
                                    .extractData {
                                        display: inline-grid;
                                        .extractTitle {
                                            font-weight: 300;
                                            font-size: 24px;
                                            line-height: 28px;
                                        }
                                        .extractCategory {
                                            font-weight: 700;
                                            font-size: 14px;
                                            line-height: 16px;
                                        }
                                        .extractDate {
                                            font-size: 14px;
                                            line-height: 16px;
                                        }
                                        .data {
                                            margin: 0 6px;
                                        }
                                    }
                                    .extractValues {
                                        float: right;
                                        .extractCurrentValue {
                                            font-weight: 400;
                                            font-size: 18px;
                                            line-height: 21px;
                                        }
                                    }
                                }
                                .extract {
                                    border-radius: 0px;
                                    background-color: $color-background-2;
                                    margin-bottom: 24px;

                                    .progress-bar {
                                        background-color: $color-blue;
                                    }
                                }
                                .extractCompletion {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
