.text-white {
  color: #ffffff;
}

.text-gray {
  color: #4f4e4c;
}

.text-gray-secondary {
  color: #858585;
}

.text-yellow {
  color: #ffe600;
}

.text-red {
  color: #d71919;
}

.text-green {
  color: #8dc547;
}

.text-yellow-secondary {
  color: #c98c17;
}

.text-blue-bright {
  color: #368cf3;
}

body {
  background-color: #0b0b0b;
  font-family: "Karla";
}
body .font-size-12 {
  font-size: 12px !important;
  margin: 8px 0 0 0 !important;
}
body .loginLogo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 100px auto 0;
}
body .loginForm .inputs {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 100px auto 0;
}
body .loginForm .inputs .error_message {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  color: #d71919;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1px 0 4px 0;
  display: none;
}
body .loginForm .inputs .error_message.show {
  display: block;
}
body .loginForm .inputs .inputField {
  background-color: #161616;
  width: 356px;
  height: 50px;
  border-radius: 8px;
  border: 0px;
  color: #ffffff;
  margin: 10px 0;
}
body .loginForm .inputs .inputField:focus {
  border: 1px solid #1b1b1b;
}
body .loginForm .inputs .inputField.error {
  border: 1px solid #d71919;
}
body .loginForm .inputs .inputButton {
  margin: 16px 0 0 0;
  background-color: #ffe600;
  color: #1e1e1e;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 0px;
}
body .loginForm .inputs .inputButton:hover {
  background-color: #c98c17;
  color: #161616;
}
body .loginForm .inputs .error_message {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  color: #d71919;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1px 0 4px 0;
  display: none;
}
body .loginForm .inputs .error_message.show {
  display: block;
}
body .inputButton {
  margin: 16px 0 0 0;
  background-color: #ffe600;
  color: #1e1e1e;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 0px;
}
body .inputButton:hover {
  background-color: #c98c17;
  color: #161616;
}
body .inputButton.inoutButton {
  width: 356px;
}
body .inputButton.eyButton {
  padding: 12px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2f2e2c;
  width: 200px;
  margin-right: 8px;
}
body .inputButton.eyButton.large {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .inputButton.eyButton.goback {
  background-color: #2f2e2c;
  color: #858585;
}
body .inputButton.eyButton.goback:hover {
  background-color: #161616;
}
body .inputButton.goalButton {
  width: 356px;
}
body .inputButtonForm {
  width: 200px;
  margin: 22px 50px;
  background-color: #858585;
  color: #1e1e1e;
  height: 50px;
  border-radius: 8px;
  border: 0px;
}
body .inputButtonForm:hover {
  background-color: #2f2e2c;
  color: #161616;
}
body .inputButtonForm.cadastrarUsuario {
  background-color: #ffe600;
  color: #1e1e1e;
}
body .inputButtonForm.cadastrarUsuario:hover {
  background-color: #c98c17;
  color: #161616;
}
body .navbar {
  height: 105px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #4f4e4c;
  padding: 20px 24px;
}
body .navbar .container-fluid .navbar-brand img {
  width: 100px;
}
body .navbar .header-links {
  margin: 0px 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}
body .navbar .header-links:hover {
  color: #c98c17;
}
body .user-data {
  width: 100%;
  height: 164px;
  background-color: #161616;
  display: flex;
  border-bottom: 1px solid #4f4e4c;
}
body .user-data .user-info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 120px;
  margin: 20px 24px;
  background-color: #1b1b1b;
  border-radius: 16px;
  padding: 24px;
}
body .user-data .user-info .user-greeting {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: left;
}
body .user-data .user-info .user-notification {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
}
body .user-data .user-info .user-notification .user-notification-link {
  text-decoration: none;
}
body .user-data .accounts-total {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: right;
  margin: 0 62px 0 auto;
}
body .dashboard .container .stepper {
  max-width: 446px;
  height: 52px;
  margin: 0 auto 40px;
  position: relative;
  top: 40px;
}
body .dashboard .container .stepper.stepper-cadastro {
  margin: 0px 372px 40px;
}
body .dashboard .container .progressbar-2 {
  width: 0px;
  height: 2px;
  position: absolute;
  top: 24px;
  right: 50px;
  background-color: #2f2e2c;
}
body .dashboard .container .progressbar-2.half {
  width: 180px;
  background-color: #ffe600;
}
body .dashboard .container .progressbar-1 {
  width: 0px;
  height: 2px;
  position: absolute;
  top: 24px;
  left: 50px;
  background-color: #2f2e2c;
}
body .dashboard .container .progressbar-1.half {
  width: 180px;
  background-color: #ffe600;
}
body .dashboard .container .steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
body .dashboard .container .steps .step-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2f2e2c;
}
body .dashboard .container .steps .step-number > span {
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.015em;
  width: 72px;
}
body .dashboard .container .steps .step-number .step {
  z-index: 1;
}
body .dashboard .container .steps .step-number.active {
  background-color: #ffe600;
}
body .dashboard .container > .row #chart2 .chart-header {
  margin-bottom: 24px;
}
body .dashboard .container > .row #chart2 .chart-header .chart-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}
body .dashboard .container > .row #chart2 .chart-header .chart-button {
  max-width: 194px;
  max-height: 62.36px;
  border-radius: 18px;
  padding: 15px 42px;
  background-color: #4f4e4c;
  text-decoration: none;
  float: right;
}
body .dashboard .container > .row #chart2 .chart-header .chart-button:hover {
  background-color: #161616;
  color: #c98c17;
}
body .dashboard .container > .row .cards {
  margin: 36px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
body .dashboard .container > .row .cards.goalsCards {
  grid-template-columns: 1fr;
  margin: 0px 140px;
}
body .dashboard .container > .row .cards.journeyCards {
  width: 1255px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  grid-template-columns: 1fr;
}
body .dashboard .container > .row .cards.cadastro {
  margin: 36px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
body .dashboard .container > .row .cards.login {
  grid-template-columns: 1fr;
}
body .dashboard .container > .row .cards.profile {
  grid-template-columns: 1fr;
}
body .dashboard .container > .row .cards.hide {
  display: none;
}
body .dashboard .container > .row .cards .contentCard {
  width: 686px;
  height: 630px;
  background-color: #1e1e1e;
  border-radius: 24px;
}
body .dashboard .container > .row .cards .contentCard.contentCard-fullsize {
  width: 1372px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .dashboard .container > .row .cards .contentCard.contentCard-fullsize.goalsCards {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .dashboard .container > .row .cards .contentCard.goalsCard {
  width: 1077px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .dashboard .container > .row .cards .contentCard.journeyCard {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .dashboard .container > .row .cards .contentCard.journeyCard.hide {
  display: none;
}
body .dashboard .container > .row .cards .contentCard.contentCard-three {
  width: 328px;
  height: 660px;
}
body .dashboard .container > .row .cards .contentCard.investorProfile, body .dashboard .container > .row .cards .contentCard.cadastroCard {
  width: 599.24px;
  height: 716px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
body .dashboard .container > .row .cards .contentCard .contentCard-header {
  height: 111px;
  border-bottom: 1px solid #4f4e4c;
  padding: 24px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-header .cardHeader-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-header .cardHeader-button {
  max-width: 194px;
  max-height: 62.36px;
  border-radius: 18px;
  padding: 15px 42px;
  background-color: #1b1b1b;
  text-decoration: none;
  float: right;
}
body .dashboard .container > .row .cards .contentCard .contentCard-header .cardHeader-button:hover {
  background-color: #161616;
  color: #c98c17;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body {
  padding: 32px 52px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body.cadastro-body {
  padding: 5px 16px;
  height: 425px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body.cadastro-body .addBanks .banksTitles {
  margin: 0px 77px;
  width: 100%;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body.cadastro-body .addBanks .banks {
  color: #858585;
  font-weight: 700;
  font-size: 12px;
  width: 212px;
  line-height: 15px;
  margin: 10px 40px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body #investorTips {
  height: 100%;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body #investorTips .swiper {
  width: 100%;
  height: 100%;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body #investorTips .swiper .swiper-wrapper .swiper-slide p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection {
  border-bottom: 1px solid #4f4e4c;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection:last-child {
  border-bottom: 0px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection .progress-info {
  margin: 14px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection .progress-info .goalData {
  display: inline-block;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection .progress-info .goalData .goalDate {
  font-size: 14px;
  line-height: 16px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection .progress-info .goalData .data {
  margin: 0 6px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection .progress-info .goalValues {
  display: inline-block;
  float: right;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection .progress-info .goalValues .goalCurrentValue {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection .progress {
  border-radius: 0px;
  background-color: #161616;
  margin-bottom: 24px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .goals .progressSection .progress .progress-bar {
  background-color: #2a5c99;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro {
  width: 50%;
  display: inline-block;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.cadastro,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.cadastro {
  width: 325px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm {
  width: 100%;
  display: inline-flex;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form {
  width: 50%;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form.first,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form.first {
  margin: 0 10px 0 0;
  border-right: 1px solid #4f4e4c;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form.first p,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form.first p {
  margin-right: 10px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .message,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .message {
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .message.contentMessage,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .message.contentMessage {
  font-size: 18px;
  text-align: left;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .message.dateMessage,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .message.dateMessage {
  font-size: 16px;
  text-align: left;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .htmlExample,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .htmlExample {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20% auto;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .audioImage,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .audioImage {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 100px auto;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .audioImage img,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .audioImage img {
  width: 125px;
  margin: 0 auto;
  display: block;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .audioImage img:hover,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .audioImage img:hover {
  cursor: pointer;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage {
  position: relative;
  /* demo */
}
@-webkit-keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage.progressArea,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage.progressArea {
  margin-top: 200px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage .conclusion,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage .conclusion {
  display: block;
  margin: 24px auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage .progressBar,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage .progressBar {
  margin: 0 auto;
}
@property --pgPercentage {
  body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage div[role=progressbar],
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage div[role=progressbar] {
  --size: 12rem;
  --fg: #ffe600;
  --bg: #131313;
  --pgPercentage: var(--value);
  -webkit-animation: growProgressBar 3s 1 forwards;
          animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, #1e1e1e 80%, transparent 0 99.9%, #1e1e1e 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage div[role=progressbar]::before,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage div[role=progressbar]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage body,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage .img,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage .img {
  width: 300px;
  height: 300px;
  background-color: #4f4e4c;
  border-radius: 100%;
  margin: 0 auto;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage img,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage img {
  margin: auto;
  position: absolute;
  display: block;
  left: 4%;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .profileImage .label,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .profileImage .label {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .user,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .user {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: inline-block;
  width: 100%;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .user .head,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .user .head {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 28px;
  border-bottom: 1px solid #858585;
  margin: 10px 0 10px 0;
  padding-bottom: 8px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .user .colum,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .user .colum {
  width: 50%;
  float: left;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .user .colum .label,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .user .colum .label {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  margin: 0 24px 0 0;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .user .colum .value,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .user .colum .value {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #858585;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .user .addBanks .head,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .user .addBanks .head {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  border-bottom: 1px solid #858585;
  margin: 10px 0 10px 0;
  padding-bottom: 8px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .user .addBanks .banksTitles,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .user .addBanks .banksTitles {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm.goalsForm .half-form .user .addBanks .banks,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro.goalsForm .half-form .user .addBanks .banks {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #858585;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .questionTitle,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .questionTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .radio,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .radio {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .radio .answerText,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .radio .answerText {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #858585;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .radio + .radio,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .radio + .radio {
  margin-top: 8px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .radio:last-child,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .radio:last-child {
  margin-bottom: 8px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .radio input,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .radio input {
  display: none;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .radio input + span,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .radio input + span {
  display: inline-block;
  position: relative;
  padding-left: 30px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .radio input + span:before,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .radio input + span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid #858585;
  background: #1e1e1e;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .radio input + span:after,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .radio input + span:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #ffe600;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  opacity: 0;
  transform: scale(0, 0);
  transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .questions .radio input:checked + span:after,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .questions .radio input:checked + span:after {
  opacity: 1;
  transform: scale(1, 1);
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .inputLabel,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .inputLabel {
  display: block;
  margin: 8px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .inputLabel.sliderLabel,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .inputLabel.sliderLabel {
  margin: 8px 0 0 0;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .error_message,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .error_message {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  color: #d71919;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1px 0 4px 0;
  display: none;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .error_message.show,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .error_message.show {
  display: block;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .inputField,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .inputField {
  background-color: #161616;
  width: 356px;
  height: 50px;
  border-radius: 8px;
  border: 0px;
  color: #ffffff;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .inputField:focus,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .inputField:focus {
  border: 1px solid #1b1b1b;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .inputField-cadastro,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .inputField-cadastro {
  width: 300px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm .inputField-cadastro.error,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro .inputField-cadastro.error {
  border: 1px solid #d71919;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm #valuePrice,
body .dashboard .container > .row .cards .contentCard .contentCard-body .inOutForm #initialValuePrice,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro #valuePrice,
body .dashboard .container > .row .cards .contentCard .contentCard-body .cadastro #initialValuePrice {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  top: -20px;
  left: 20px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .chart-section {
  width: 50%;
  float: right;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract-info {
  border-bottom: 1px solid #4f4e4c;
  margin: 14px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract-info:last-child {
  border-bottom: 0px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract-info .extractData {
  display: inline-grid;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract-info .extractData .extractTitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract-info .extractData .extractCategory {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract-info .extractData .extractDate {
  font-size: 14px;
  line-height: 16px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract-info .extractData .data {
  margin: 0 6px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract-info .extractValues {
  float: right;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract-info .extractValues .extractCurrentValue {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract {
  border-radius: 0px;
  background-color: #161616;
  margin-bottom: 24px;
}
body .dashboard .container > .row .cards .contentCard .contentCard-body .extracts .extract .progress-bar {
  background-color: #2a5c99;
}/*# sourceMappingURL=styles.css.map */